
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
}
h1, h2 {
  font-family: 'IM Fell DW Pica', serif;
  color: #666;
  letter-spacing: .1rem;
  margin-top: 0;
}
.app {
  max-width: 1200px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}
a {
  color: #000;
}

._padded {
  padding: 2rem;
}
._center {
  text-align: center;
}
._centered {
  display: flex;
  justify-content: center;
}
._spaced {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.app-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  margin-bottom: 4rem;
}

.header-title {
  display: inline-block;
  margin-left: 2rem;
}
.blue-row {
  background: #000;
  color: #fff;
  overflow: auto;
}
.grey-row {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #f1f1f1;
}
.blue-row h1, .blue-row h2 {
  color: #fff;
}
.blue-row .textinput {
  border: none;
}
.blue-row .button, .blue-row button {
  background: #fff;
  color: #000;
}
.blue-row .button:hover, .blue-row button:hover {
  background: #ddd;
}
.callout {
  text-align: center;
  display: block;
  font-size: 2rem;
  margin: 3rem 0;
}
.button, button {
  display: inline-block;
  background: #000;
  border: 2px solid #000;
  color: #fff;
  padding: .6rem 1rem;
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  text-decoration: none;
  transition: background-color .2s linear;
}
.button.-small {
  font-size: .8rem;
  padding: .2rem .6rem;
}
.button:hover, button:hover {
  background: #444;
  cursor: pointer;
}
.button.-outline {
  border: 2px solid #666;
  background: transparent;
  color: #666;
}
.button.-outline:hover {
  color: #fff;
  background: #444;
}
.button.-warning {
  background: #DA2538;
  color: #fff;
}
.button:disabled, button:disabled {
  background: #ccc;
}
.button.-link {
  background: transparent;
  border: none;
  padding-left: 0;
  padding-right: 0;
  color: inherit;
  font-size: .8rem;
  text-decoration: underline;
  display: inline;
}
form.link {
  display: inline;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.container.-slim {
  max-width: 800px
}
.container.-narrow {
  max-width: 500px;
}
.two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}
.spread {
  background: #fff;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.grid.-split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid gap: 50px;
}
.validation {
  color: #C93F54;
}
input[type=text] {
  font-size: 1rem;
}
input:focus {
  outline: none;
  /* border: none; */
}
.divider {
  display: inline-block;
  margin-right: 2rem;
  margin-left: 2rem;
}


h1 {
  text-align: center;
}
.help {
  text-align: center;
}
.page {
  padding: 2rem;
}
.add-section {
  max-width: 350px;
  margin: 0 auto;
}
.form-story {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
}
.form-story > * {
  margin: 1rem 0;
}
.form-story .textinput {
  padding: 1rem;
}
.form-story button {
  background: #000;
  color: #fff;
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 3px;
  font-size: 1rem;
}
.form-story button:hover {
  background: #444;
  cursor: pointer;
}

.panel-collection {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  padding-left: 2rem;
  padding-right: 2rem;
}
.panel > .link-list {
  margin-top: .5rem;
}
.cover {
  padding: 2rem;
  background: #fff;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #444;
  font-family: 'IM Fell DW Pica', serif;
  border-radius: 3px;
}
.links {
  font-size: .8rem;
  margin: 1rem;
  text-align: center;
}
.link-list {
  text-align: center;
}
.link-list > * {
  margin-bottom: 0;
}
.link-list > .link + .link {
  margin-left: .5em;
  margin-bottom: 0;
}
.link-list.-spaced > .link + .link {
  margin-left: 1.5em;
}
.bg {
  background-color: #000;
  color: fff;
}
.bg img {
  filter: grayscale(1) invert(1);

}

#textEditComponent {
  display: inline-block;
}

.shelf {
  margin-bottom: 3rem;
  background: #fff url(https://www.toptal.com/designers/subtlepatterns/patterns/bgnoise_lg.png) repeat top left;
  padding: 2rem;
}

.shelf .cover-container {
  border-bottom: 15px solid #444;
}
