
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5em;
}
h1, h2 {
  font-family: 'Fredoka One', cursive;
  color: #666;
  letter-spacing: .1rem;
  margin-top: 0;
}
.app {
  max-width: 1200px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}
a {
  color: #0081FF;
}

._padded {
  padding: 2rem;
}
._center {
  text-align: center;
}

.app-header {
  background: #000;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  color: #fff;
  margin-bottom: 4rem;
}
.app-header a {
  color: #fff;
}
.header-title {
  display: inline-block;
  margin-left: 2rem;
}
.blue-row {
  background: #000;
  color: #fff;
  overflow: auto;
}
.grey-row {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #f1f1f1;
}
.blue-row h1, .blue-row h2 {
  color: #fff;
}
.blue-row .textinput {
  border: none;
}
.blue-row .button, .blue-row button {
  background: #fff;
  color: #000;
}
.blue-row .button:hover, .blue-row button:hover {
  background: #ddd;
}
.callout {
  text-align: center;
  display: block;
  font-size: 2rem;
  margin: 3rem 0;
}
.button, button {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1.2rem;
  text-decoration: none;
  font-family: 'Fredoka One', cursive;
}
.button:hover, button:hover {
  background: #444;
  cursor: pointer;
}
.button:disabled, button:disabled {
  background: #ccc;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.container.-slim {
  max-width: 800px
}
.container.-narrow {
  max-width: 500px;
}
.two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}
.spread {
  background: #fff;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.grid.-split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid gap: 50px;
}
.validation {
  color: #C93F54;
}
input[type=text] {
  font-size: 1rem;
}
input:focus {
  outline: none;
  /* border: none; */
}
.message a {
  margin-right: 2rem;
}
