<div class="page">

  <div class="user-info">
    {#await userData}
      <div>Loading...</div>
      {:then userData}
        <div class="username">Username: {userData.username}</div>
        <div class="add">
          <form action="/addStory?user=simon" method="POST">
            <input type="text" name="title" />
            <button type="submit">Add Story</button>
          </form>
        </div>
      {:catch theError}
        <p>whoops! {theError.message}</p>
    {/await}
  </div>

  <h3>Stories</h3>

  <div class="story-data">
    {#await documentsData}
      Loading...
      {:then documentsData}
        <div class="panel-collection">
          {#each Object.entries(documentsData) as [object, document]}
            <div class="panel">
              <div class="cover"><a href="/story?id={document.id}"><img src="images/covers/Cover-{document.title.replace(/ /g, '-')}.jpg" alt=""></a></div>
              <div class="title"><a href="/story?id={document.id}">{document.title}</a></div>
            </div>
          {/each}
        </div>
      {:catch theError}
        <p>whoops! {theError.message}</p>
    {/await}
  </div>

</div>

<style>
  .username {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .add {
    margin: 2rem 0;
  }
  .panel-collection {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
  }
  .panel {
    padding: 2rem;
    border: 1px solid #66b5c5;
  }
  .title {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .title a {
    color: #666;
  }
</style>

<script>
  export default {
    data() {
      return {
        userDataUrl: "/userData?user=simon",
        documentsDataUrl: "/dashboardData?user=simon"
      }
    },
    computed: {
      userData: data => {
        return fetch(data.userDataUrl)
          .then(res => res.json())
          .then(data => data);
      },
      documentsData: data => {
        return fetch(data.documentsDataUrl)
          .then(res => res.json())
          .then(data => data);
      }
    }
  }
</script>
