<div class="container -split">
  <div class="edit">
    <h1>Title</h1>
    <!-- {#await storyData}
      Loading...
    {:then story}
      {story.progress}
      <p>{story.text}</p>
    {/await} -->
    <div class="story" id="storyEdit" contenteditable></div>
    <form hidden action="/storySubmission" method="POST" id="storyContent">
      <textarea rows="4" cols="50" name="content" value="{storyText}"></textarea>
    </form>
    <!-- <button type="submit" on:click="submit()">Save</button> -->
  </div>
  <div class="illustration">
    <img src="" alt="">
  </div>
</div>

<style>
  h1 {
    text-align: center;
  }
  .story {
    width: 100%;
    border: none;
    outline: none;
    color: #666;
    margin: 3rem 0;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }
  button {
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    transition: background .1s linear;
  }
  button:hover {
    background: #666;
  }
</style>

<script>
  export default {
    data() {
      return {
        storyText: "It was raining heavily...",
        storyUrl: "/storyData?id="
      }
    },
    computed: {
      storyData: data => {
        return fetch(data.storyUrl)
          .then(res => res.json())
          .then(data => data);
      }
    },
    methods: {
      submit() {
        const storyEdit = document.getElementById("storyEdit"),
              storyField = document.getElementById("storyField"),
              storyContent = document.getElementById("storyContent");
        this.set({story: storyEdit.innerHTML})
        storyContent.submit();
      }
    }
  }
</script>
